header {
  font-size: 2rem;
}

header {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}