* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #65b5f6 0%, #5c5655 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
